* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {


  h1 {
    font-family: "Dosis", sans-serif;
    background: linear-gradient(
      to right,
      rgb(28, 37, 163),
      rgba(176, 177, 179, 0.5)
    );
    background: cover;
    font-size: 35px !important;
    font-weight: bold;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: fixed;
  }
  .card-title {
    margin-bottom: 2px !important;
  }
  .card-columns {
    column-count: 1;
    margin-top:20px !important;
    margin:10px !important;
  }

}
@media (min-width: 750px) {
  .card-columns {
    column-count: 2;
    margin-top:20px !important;
    margin:20px !important;
  }
}
 @media (min-width: 900px) {
  .card-columns {
    column-count: 2;
    margin-top:20px !important;
    margin:20px !important;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
    margin-top:20px !important;
    margin:20px !important;
  }
}

@media (min-width: 1800px) {
  .card-columns {
    column-count: 4;
    margin-top:20px !important;
    margin:20px !important;
  }
}


h1 {
  font-family: "Dosis", sans-serif;
  background: linear-gradient(
    to right,
    rgb(28, 37, 163),
    rgba(193, 129, 206, 0.5)
  );
  background: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

body {
  background: linear-gradient(
      to right bottom,
      rgba(23, 20, 204, 0.8),
      rgba(14, 15, 15, 0.3)
    ),
    url(img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 18px;

}

.card1 {
  border-radius: 10px;
  line-height: 10px;
  box-shadow: 17px 27px 34px -12px rgba(24, 26, 26, 1);
}

/* .card {
  backface-visibility: hidden;
} */

.new {
  font-family: "Questrial", sans-serif;
  border-radius: 10px;
}

#effect:hover {
  box-shadow: 23px 24px 26px -5px rgba(202, 199, 199, 0.37);
  transition: all 0.3s ease-in-out;
  transform: translateY(-20px);
}

.img {
  display: none;
}
.card-columns{
  margin-left:0px;
  margin-right:0px;
}
